@import 'src/styles';

@mixin light-mat-list-option {
  background-color: $color-primary-light;
  border: 2px solid $color-primary-dark;
  color: $color-primary-dark;
}

@mixin default-mat-list-option {
  mat-list-option {
    display: inline-block;
    background-color: $color-primary-dark;
    border: 2px solid $color-primary-light;
    color: $color-primary-light;

    &:hover {
      @include light-mat-list-option;
    }
  }
}

@mixin centered-mat-list-option {
  @include default-mat-list-option;
  mat-list-option {
    @include centered-with-margins;
  }
}

@mixin mat-form-field-remove-field-padding {
  // Cheat to remove padding in mat-form-field
  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -0.8em;
  }
}

@mixin mat-form-field-decrease-input-padding {
  // Cheat to decrease padding in mat-form-field
  ::ng-deep .mat-form-field-infix,
  ::ng-deep .mat-form-field-label-wrapper {
    padding: 0.2em 0;
  }
}

@mixin centered-with-margins {
  width: 80vw;
  margin: 10px 10vw 0;
}

@mixin view-title {
  color: $color-primary-dark;
  text-transform: uppercase;
  font-size: 200%;
  font-weight: bold;
}

@mixin dotted-text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin custom-button {
  width: 200px;
  height: 50px;
  margin-left: 10px;

  &:disabled {
    opacity: 0.5;
  }
}

.custom-button-dark {
  @include custom-button;
  background-color: $color-primary-dark;
  color: $color-primary-light;

  &:disabled {
    background-color: $color-primary-dark;
    color: $color-primary-light;
  }
}

.custom-button-light {
  @include custom-button;
  background-color: $color-primary-light;
  color: $color-primary-dark;

  &:disabled {
    background-color: $color-primary-light;
    color: $color-primary-dark;
  }
}

.icon {
  &-big {
    width: 48px;
    height: 48px;
    font-size: 48px;
  }

  &-medium {
    width: 36px;
    height: 36px;
    font-size: 36px;
  }

  &-small {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}
