@import 'src/styles';
@import "src/topic-management/topic-management-styles";

:host {
  .school-view-wrapper {
    @include centered-with-margins;
    display: flex;

    .school-icon {
      background-image: url("../../../assets/school-dark-48px.svg");
    }
  }

  .school-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    color: $color-primary-dark;
  }

  .title {
    @include view-title;
  }

  .address {
    padding-top: 10px;
  }
}

