@import 'src/styles';

:host {
  .mat-raised-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 50px;
    background-color: $color-primary-dark;
    color: $color-primary-light;
    text-transform: none;
    pointer-events: none;
  }

  .remove-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-color: transparent;
    background-image: url("../../../assets/delete-red-20px.svg");
    pointer-events: auto;
  }

  .remove-button-readonly {
    pointer-events: none;
  }
}
