@import "src/topic-management/topic-management-styles";
@import 'src/styles';

:host {
  @include centered-with-margins;
  margin-bottom: 10px;

  .topic-view-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .spread-buttons {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }

    .delete-topic-button {
      align-self: flex-end;
      background-color: $color-primary-red;
    }
  }
}
