@import "src/topic-management/topic-management-styles";
@import 'src/styles';

:host {
  @include centered-with-margins;

  .topic-view-wrapper {
    display: flex;
    flex-direction: column;

    .topic-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .topic-button {
        width: 200px;
        height: 50px;
        margin-left: 10px;
        background-color: $color-primary-dark;
        color: $color-primary-light;

        &:disabled {
          opacity: 0.5;
        }
      }
    }

  }
}
