@import "src/topic-management/topic-management-styles";
@import 'src/styles';

:host {
  @include centered-with-margins;

  .custom-form-field {
    color: $color-primary-dark;
    text-transform: uppercase;
    font-weight: bold;

    // Cheat to remove padding in mat-form-field
    ::ng-deep .mat-form-field-wrapper {
      margin-bottom: -0.8em;
    }
  }

  .topic-form-wrapper {
    display: flex;
    flex-direction: column;

    .topic-title {
      @include view-title;
    }

    .topic-students {
      display: flex;
      flex-direction: row;

      student-form-panel {
        margin-right: 10px;
      }
    }

    .submit-topic-button {
      align-self: flex-end;
      width: 200px;
      height: 50px;
      margin-top: 10px;
      background-color: $color-primary-dark;
      color: $color-primary-light;

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
