@import 'src/styles';
@import "src/topic-management/topic-management-styles";

:host {
  .bucket-form-with-buttons {
    display: flex;
    align-items: baseline;

    .bucket-form {
      flex-grow: 1;
      color: $color-primary-dark;

      .bucket-name {
        pointer-events: auto;
        @include mat-form-field-remove-field-padding;
        @include mat-form-field-decrease-input-padding;
        display: inline-block;
        width: 100%;
      }
    }

    .bucket-form-buttons {
      display: inline-block;
      width: fit-content;
      margin-left: 1%;
      justify-self: flex-end;
    }
  }

  .approve-button {
    background-image: url("../../../assets/approve-dark-24px.svg");
  }

  .cancel-button {
    background-image: url("../../../assets/cancel-dark-24px.svg");
  }
}
