$color-primary-dark: #3F51B5;
$color-primary-light: #E6E8EA;
$color-primary-red: #FF4C4C;

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $color-primary-light;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
