@import "src/topic-management/topic-management-styles";
@import 'src/styles';

:host {
  .custom-form-field {
    @include mat-form-field-remove-field-padding;
    color: $color-primary-dark;
    text-transform: uppercase;
    font-weight: bold;
  }

  .topic-form-wrapper {
    display: flex;
    flex-direction: column;

    .topic-title {
      @include view-title;
    }

    .topic-description {
      height: fit-content;
    }

    .topic-students {
      display: flex;

      student-form-panel {
        margin-right: 10px;
      }
    }
  }
}
