@import 'src/styles';
@import "src/topic-management/topic-management-styles";

:host {
  @include centered-with-margins;

  .bucket-wrapper {
    display: flex;
    flex-direction: column;

    .bucket-name {
      @include view-title;
      margin-bottom: 10px;
    }

    .new-topic-button {
      align-self: center;
      width: 200px;
      height: 50px;
      margin-top: 10px;
      background-color: $color-primary-light;
      color: $color-primary-dark;

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
