@import 'src/styles';
@import "src/topic-management/topic-management-styles";

:host {
  .breadcrumbs {
    display: flex;
    margin-left: 16px;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    color: white;
  }

  .breadcrumb-button {
    max-width: 400px;
    padding: 0 8px;
    text-transform: capitalize;
    @include dotted-text-overflow;

    &-active {
      background-color: $color-primary-light;
      color: $color-primary-dark;
    }
  }

  .arrow-right {
    background-image: url("../../assets/arrow-right-light-24px.svg");
  }
}

