@import 'src/styles';

:host {
  mat-toolbar {
    height: 45px;
    color: $color-primary-light;
    font-size: 16px;
    font-weight: bold;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    color: white;
  }

  .breadcrumb-button {
    text-transform: capitalize;

    &-active {
      color: $color-primary-dark;
      background-color: $color-primary-light;
    }
  }
}

