@import 'src/styles';

:host {
  .breadcrumbs {
    display: flex;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    color: white;
  }

  .breadcrumb-button {
    text-transform: capitalize;

    &-active {
      background-color: $color-primary-light;
      color: $color-primary-dark;
    }
  }
}

